{% extends 'base.html' %} {% block content %}

<h1>Constellation Details</h1>

<div class="row">
  <div class="col s8">
    <div class="card">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th>{{ constellation.name }}</th>
              <th class="right-align">
                Date Observed: {{ constellation.date_observed }}
              </th>
            </tr>
          </thead>
        </table>
        <br />
        <p>Symbolism: {{ constellation.symbolism }}</p>
        <br />
        <p>Number of Main Stars: {{ constellation.num_main_stars }}</p>
        <br />
        <p>Brightest Star: {{ constellation.brightest_star }}</p>
      </div>
      {% if constellation.user.id == user.id %}
        <div class="card-action">
          <a href="{% url 'edit_constellation' constellation.id %}"
            type="submit"
            class="btn-small">Edit</a>
          <a href="{% url 'delete_constellation' constellation.id %}"
            type="submit"
            class="btn-small red">Delete</a>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="col s4">
    <h4>Stars</h4>
    {% if constellation.user.id == user.id %}
      <form action="{% url 'add_star' constellation.id %}" method="POST">
        {% csrf_token %} {{ star_form.as_p }}
        <input type="submit" class="btn" value="Add Star" />
      </form>
    {% endif %}
    <table class="striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Apparent Magnitude</th>
        </tr>
      </thead>
      <tbody>
        {% for star in constellation.star_set.all %}
          <tr>
            <td>{{star.name}}</td>
            <td>{{star.apparent_magnitude}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr />
<div class="row">
  <div class="col s6">
    <h6>Planets aligning with {{ constellation.name }} on {{ constellation.date_observed }}:</h6>
    {% if constellation.planets.count %} 
      {% for planet in constellation.planets.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ planet.name }}</span>
          </div>
          {% if constellation.user.id == user.id %}
          <div class="card-action">
            <form action="{% url 'dissociate_planet' constellation.id planet.id %}"
              method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
          {% endif %}
        </div>
      {% endfor %} 
    {% else %}
    <p>
      No planets could be seen in {{ constellation.name }} on {{ constellation.date_observed }}.
    </p>
    {% endif %}
  </div>

  {% if constellation.user.id == user.id %}
    <div class="col s6">
      <h6>Planets:</h6>
      {% if planets.count %} 
        {% for planet in planets.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">{{ planet.name }}</span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_planet' constellation.id planet.id %}"
              method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
        {% endfor %} 
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}
